// Import vars
@import "variables";
// Reset default styles
@import "reset";
// Add fonts
@import "fonts";

// Components
@import "header";
@import "footer";
@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";
@import "section-5";
@import "section-6";

body {
  background: url(../../src/static/background.jpg) no-repeat center center fixed;
  background-color: black;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #FFFFFF;
  font-family: Montreal-Book, serif;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
}

section {
  width: 100%;
  //height: 100%;
  position: relative;
  //left: 0;
  //top: 0;
  //right: 0;
  //bottom: 0;
}

h2 {
  font-family: Condensed-Ultralight, serif;
  font-size: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;

  span {
    font-family: Condensed-Regular, serif;
  }
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: Condensed-Ultralight, serif;
  margin-bottom: 20px;
  line-height: 32px;

  span {
    font-size: 13px;
  }
}

strong {
  font-family: Montreal-Bold, serif;
}

p {
  font-size: 19px;
  line-height: 24px;
  font-family: Montreal-Book, serif;
}

.__fadeIn {
  opacity:0;
}