// Import vars
@import "variables";
// Reset default styles
@import "reset";
// Add fonts
@import "fonts";

// Components
@import "header";
@import "footer";

body {
  background: url(../../src/static/background.jpg) no-repeat center center fixed;
  background-color: black;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #FFFFFF;
  font-family: Regular;
}

