
@font-face {
  font-family: Condensed-Regular;
  src: url(../../src/fonts/PPFormulaCondensed-Regular.otf);
}

@font-face {
  font-family: Condensed-Ultralight;
  src: url(../../src/fonts/PPFormulaCondensed-Ultralight.otf);
}

@font-face {
  font-family: Montreal-Bold;
  src: url(../../src/fonts/PPNeueMontreal-Bold.otf);
}

@font-face {
  font-family: Montreal-Book;
  src: url(../../src/fonts/PPNeueMontreal-Book.otf);
}
