/*
@font-face {
  font-family: ArialNarrow;
  src: url(../../src/fonts/arialnarrow.ttf);
}

@font-face {
  font-family: FugueHeadline;
  src: url(../../src/fonts/fugue_headline.ttf);
}

@font-face {
  font-family: FugueRegular;
  src: url(../../src/fonts/fugue_regular.ttf);
}

@font-face {
  font-family: NeueMachina;
  src: url(../../src/fonts/NeueMachina-Regular.otf);
}
*/