.section5 {
  padding-top: 120px;

  @include media-breakpoint-down(lg) {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  div {
    max-width: 550px;
    margin-top: 126px;
    margin-left: 340px;
    margin-right: 80px;

    padding: 0 10px;

    @include media-breakpoint-down(lg) {
      margin: 0;
      max-width: 460px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  img {
    width: 1000px;
    position: absolute;
    left: 80px;
    top: 110px;
    animation:spin 400s linear infinite;

    @include media-breakpoint-down(lg) {
      width: 1000px;
      left: -180px;
      top: 0;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}