#section4 {
  padding-top: 120px;

  @include media-breakpoint-down(lg) {
    display: flex;
    justify-content: center;
  }

  div {
    max-width: 550px;
    //margin-left: 50%;
    margin-left: 80px;
    padding: 0 10px;

    @include media-breakpoint-down(lg) {
      margin: 0;
      max-width: 460px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  img {
    width: 280px;
    position: absolute;
    //left: 150px;
    right: 300px;
    top: 0;
    //transform: rotate(20deg);
    transform: rotate(360deg);

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}