.section4 {
  padding-top: 120px;

  div {
    max-width: 550px;
    //margin-top: 126px;
    //margin-left: auto;
    margin-left: 50%;
    //margin-right: 80px;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    width: 280px;
    position: absolute;
    left: 150px;
    top: 20px;
    transform: rotate(20deg);
  }
}