#section3 {
  padding-top: 80px;

  @include media-breakpoint-down(lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
  }

  div {
    max-width: 550px;
    //margin-top: 80px;
    margin-right: 80px;
    margin-left: auto;
    padding: 0 10px;

    @include media-breakpoint-down(lg) {
      margin: 0;
      max-width: 460px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  .__vectors {
    position: absolute;
    top: 10px;

    @include media-breakpoint-down(lg) {
      transform: scale(0.3);
      position: inherit;
      width: 280px;
      margin-left: -140px;
      margin-top: -50px;
      height: 280px;
    }

    img {
      position : absolute;
      opacity: 0;
      animation-name: fadeInVS1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }

  .__vector_1 {
    animation-delay: .5s;
  }

  .__vector_2 {
    animation-delay: 1s;
  }

  .__vector_3 {
    animation-delay: 1.5s;
  }

  .__vector_4 {
    animation-delay: 2s;
  }

  .__vector_5 {
    animation-delay: 2.5s;
  }

  .__vector_6 {
    animation-delay: 3s;
  }

  .__vector_7 {
    animation-delay: 3.5s;
  }

  .__vector_8 {
    animation-delay: 4s;
  }

  .__vector_9 {
    animation-delay: 4.5s;
  }
}

@keyframes fadeInVS1 {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}