#section1 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: hidden;

  p {
    max-width: 945px;
    text-align: center;
    animation: fadeInFast 1s;
    font-size: 19px;
    line-height: 24px;
    padding: 0 10px;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  img {
    max-width: 690px;
    position: absolute;
  }

  .section1_img-effect1 {
    animation: fadeInSlow 5s;
  }

  .section1_img-effect2 {
    animation: flicker 5s;
  }
}

@keyframes fadeInFast {
  0% {
    opacity: 0.2;
    margin-bottom: -80px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes fadeInSlow {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes flicker {
  0% { opacity: .1; transform: scale(0.9);}
  100% { opacity: 1; transform: scale(1);}
}