.section5 {

  div {
    max-width: 550px;
    margin-top: 126px;
    //margin-left: auto;
    margin-left: 340px;
    margin-right: 80px;

    padding: 0 10px;

    @include media-breakpoint-down(lg) {
      margin: 0;
    }
  }

  p {
    margin-bottom: 20px;
  }

  img {
    width: 1000px;
    position: absolute;
    left: 40px;
    top: -80px;
    animation:spin 400s linear infinite;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}